.workList {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
  transform: none;
  background: none;
  position: relative;
  z-index: 1;

  @media (min-width: 768px) {
    padding: 10px;
  }
}