.workList {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  transform: none;
  background: none;
  position: relative;
  z-index: 1;

  @screen xl {
    background: #1a1a1a;
    border-top: 3px solid rgba(77, 189, 138, 0.3);
  }
}