.title {
  animation: show 0.8s cubic-bezier(0.175, 0.885, 0.32, 1) forwards 0.3s;
  color: #ffffff;
  font-size: clamp(1.6rem, 3vw, 2.5rem);
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1.2;
  opacity: 0.001;
  transform: translateX(-40px);

  @keyframes show {
    0% {
      opacity: 0.001;
      transform: translateX(-40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}