.technologyGrid {
  display: flex;
  flex-wrap: wrap;
}

.technologyItem {
  animation: show 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) forwards;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  display: grid;
  font-size: 0.7rem;
  font-weight: 600;
  opacity: 0.001;
  padding: 10px 20px;
  place-items: center;
  transform: translateY(-40px) scale(0.5);

  @keyframes show {
    0% {
      opacity: 0.001;
      transform: translateY(-40px) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}

@for $i from 1 through 20 {
  .technologyItem:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.01 + 0.3}s;
  }
}