.indexPage {
  display: grid;
  position: relative;
  width: 100%;
}

.viewMyResume {

  @keyframes show {
    0% {
      opacity: 0.001;
      transform: translateX(-40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  animation: show 1.5s cubic-bezier(0.175, 0.885, 0.32, 1) forwards 0.5s;
  margin-bottom: 75px;
  margin-top: 125px;
  opacity: 0.001;
  text-align: center;
}

.viewMyResumeLink {
  color: #F56565;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1.25;
  text-decoration: none;

  &:hover {
    color: #e34444;
    text-decoration: underline;
  }
}