.socialGroup {
  display: flex;
  gap: 60px;
}

.link {
  align-items: center;
  animation: show 0.8s cubic-bezier(0.175, 0.885, 0.32, 1) forwards;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  opacity: 0;

  @keyframes show {
    0% {
      opacity: 0.001;
      transform: translateY(-40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  transform: translateY(-40px);

  &:hover {
    .name {
      transform: scale(1.1);
    }

    .image {
      outline: 3px solid #ffffff;
      transform: scale(1.1);
    }
  }
}

@for $i from 1 through 20 {
  .link:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.05}s;
  }
}

.name {
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.image {
  background-color: #FCE8D5;
  border-radius: 9999px;
  display: flex;
  height: clamp(50px, 5vw, 80px);
  overflow: hidden;
  position: relative;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  width: clamp(50px, 5vw, 80px);
}