.header {
  color: white;
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr;
  place-items: center;
  width: 100%;

  @media (min-width: 1024px) {
    grid-template-columns: 3fr 4fr;
  }
}

@keyframes show {
  0% {
    opacity: 0.001;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.name {
  animation: show 1s cubic-bezier(0.175, 0.885, 0.32, 1) forwards;
  font-size: clamp(1.8rem, 3vw, 4rem);
  font-weight: 900;
  letter-spacing: -0.05em;
  line-height: 1.2;
  opacity: 0.001;
  text-align: center;
  transform: translateX(-40px);
}

.title {
  animation: show 1s cubic-bezier(0.175, 0.885, 0.32, 1) forwards 0.2s;
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 1.2;
  opacity: 0.001;
  text-align: center;
  transform: translateX(-40px);
}